<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschooldemo.fullnotice.FullNoticeMapper">
    <!--                 유치원 소식 작성                   -->
    <insert id="postFullNotice" keyProperty="ifullNotice" useGeneratedKeys="true">
        INSERT INTO t_full_notice
        (iteacher, full_title, full_contents, full_notice_fix)
        VALUES
        (#{iteacher}, #{fullTitle}, #{fullContents}, #{fullNoticeFix})
    </insert>
    <!--                 유치원 소식 사진 작성                   -->
    <insert id="postFullNoticePics">
        INSERT INTO t_full_notice_pics
        (ifull_notice, full_pic)
        VALUES
        <foreach collection="fullPic" item="pic" open="(" close=")" separator="),(">
            #{ifullNotice}, #{pic}
        </foreach>
    </insert>
    <!--                 유치원 소식 삭제 (선생님 )                   -->
    <delete id="delFullNotice">
        DELETE A,B
        FROM t_full_notice AS A
        JOIN t_full_notice_pics AS B
        ON A.ifull_notice = B.ifull_notice
        WHERE A.ifull_notice = #{inotice} AND A.iteacher = #{iteacher}
    </delete>
    <!--                 유치원 소식 삭제 (원장님 )   <if test="ilevel == 2">
            and iteacher = #{iteacher}
        </if>                -->
    <delete id="delFullNoticeBoss">
        DELETE A,B
        FROM t_full_notice AS A
        JOIN t_full_notice_pics AS B
        ON A.ifull_notice = B.ifull_notice
        WHERE A.ifull_notice = #{ifullNotice}
    </delete>
    <!--                 유치원 소식 수정                  -->
    <update id="putFullNotice">
        UPDATE
        FROM t_full_notice
        SET iteacher = #{iteacher},
        full_title = #{fullTitle},
        full_contents = #{fullContents},
        full_notice_fix = #{fullNoticeFix}
        WHERE ifull_notice = #{ifullNotice}
    </update>
    <!--                 유치원 소식 사진 삭제                 -->
    <delete id="delFullNoticePics">
        DELETE
        FROM t_full_notice_pics
        WHERE ifull_notice = #{ifullNotice}
    </delete>
    <!--                 유치원 소식 사진 개수 조회                  -->
    <select id="selFullNoticePics">
        SELECT COUNT(ifull_pic)
        FROM t_full_notice_pics
        WHERE ifull_notice = #{ifullNotice}
    </select>
    <!--                 유치원 소식 상단 고정 기능 조회                  -->
    <select id="selNoticeFix">
        SELECT full_notice_fix
        from t_full_notice
        WHERE ifull_notice = #{ifullNotice}
    </select>

</mapper>