<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.preschool.preschooldemo.teacher.TeacherMapper">
    <select id="selKidManagement">
        SELECT ikid, iclass, kidnm as kidNm, profile
        from t_kid
        <if test="kidCheck > 0">
            where iclass = #{kidCheck}
        </if>
        <if test = "0 >= kidCheck">
            where state = #{kidCheck}
        </if>
        LIMIT #{startIdx},#{rowCount}

    </select>
    
    <update id="updKidState">
        UPDATE t_kid
        SET <if test="kidCheck > 0">
            iclass = #{kidCheck}
        </if>
        <if test = "0 >= kidCheck">
            state = #{kidCheck}
        </if>
        WHERE
        <foreach collection="ikids" item="ikid">
            ikid = #{ikid}
        </foreach>
    </update>
</mapper>